<!DOCTYPE html>
<html lang="en">

<head>
	<title>Mission Impossible: Fallout</title>
	<link rel="stylesheet" href="Style.css" />

</head>

<body>

	<div id="layout">
		<div id="header">
			<img src="Movie_Ticket.jpg" width="700px" height="250px" class="header">
		</div>

		<div id="menu">
			<center>
				<ul>
					<li><a href="Home"><b>Home</b></a></li>
					<li><a href="NowPlaying"><b>Now Playing</b></a></li>
					<li><a href="UpComing"><b>Up Coming</b></a></li>
					<li><a href="Theater"><b>Theater</b></a></li>
					<li><a href="ContactUs"><b>Contact Us</b></a></li>
					<li><a href="logout"><b>Logout</b></a></li>
				</ul>
			</center>
		</div>

		<div class="flex-container">

			<div>
				<img src="MoviePosters\MissionImpossibleFallout.jpg" class="movie-buy" alt="Paris" width="250"
					height="350">
			</div>
			<br><br><br><br>
			<table border="1" width="600px" style="font-size: 18px">
				<tbody>
					<tr class="text-warning">
						<td>Name</td>
						<td>:</td>
						<td>Mission Impossible FallOut</td>
					</tr>
					<tr class="text-warning">
						<td>Released Year</td>
						<td>:</td>
						<td>2018</td>
					</tr>
					<tr class="text-warning">
						<td>Genre</td>
						<td>:</td>
						<td>Action, Spy, Thriller</td>
					</tr>
					<tr class="text-warning">
						<td>Synopsis</td>
						<td>:</td>
						<td>Ethan Hunt and the IMF team join forces with CIA assassin August Walker
							to prevent a disaster of epic proportions. Arms dealer John Lark and a group
							of terrorists known as the Apostles plan to use three plutonium cores for a
							simultaneous nuclear attack on the Vatican, Jerusalem and Mecca, Saudi Arabia.
							When the weapons go missing, Ethan and his crew find themselves in a desperate
							race against time to prevent them from falling into the wrong hands.</td>
					</tr>
					<tr class="text-warning">
						<td>Harga</td>
						<td>:</td>
						<td>Rp. 50.000,-</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td><a href="TicketOrder4"> <button class="btn-beli mt-3">Buy Ticket</button></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<br>
		<<h1 class="jumbotron">
			<font color="black">TRAILER

			</font>
			</h1>
			<br>
			<br>
			<video width="720" height="auto" controls>
				<source src="Trailer/Mission_ Impossible - Fallout (2018) - Official Trailer - Paramount Pictures.mp4"
					type="video/mp4" />
				Browsermu tidak mendukung
			</video>
			<br>
			<br>
			<br>
			<<h1 class="jumbotron">
				<font color="black">CAST</font>
				</h1>
				<br>
				<br>
				<div class="flex-container">
					<img src="Aktor/Tom Cruise.jpg" width="300" height="350" style="margin-left: 100px;">
					<img src="Aktor/Henry Cavill.jpg" width="300" height="350" style="margin-left: 100px;">
					<img src="Aktor/Rebecca ferguson.jpg" width="300" height="350" style="margin-left: 100px;">
					<br>
					<br>
					<br>
				</div>
				<div class="flex-container">
					<h1 style="margin-left: 150px;">
						<font color="white">Tom Cruise
					</h1>
					</font>
					<h1 style="margin-left: 150px;">
						<font color="white">Henry Cavill
					</h1>
					</font>
					<h1 style="margin-left: 180px;">
						<font color="white">Rebecca Ferguson
					</h1>
					</font>
				</div>
				<br>
				<br>
				<br>
				<div class="flex-container">
					<img src="Aktor/Simon pegg.jpg" width="300" height="350" style="margin-left: 300px;">
					<img src="Aktor/Ving rhames.jpeg" width="300" height="350" style="margin-left: 150px;">
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
				</div>
				<div class="flex-container">
					<h1 style="margin-left: 350px;">
						<font color="white">simon pegg
					</h1>
					</font>
					<h1 style="margin-left: 250px;">
						<font color="white">ving rhames
					</h1>
					</font>
				</div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<div id="footer"> @COPYRIGHT 2020. Apex Ticket ALL RIGHTS RESERVED.</div>
	</div>
</body>

</html>