<!DOCTYPE html>
<html lang="en">

<head>
	<title>Sonic The Hedgehog</title>
	<link rel="stylesheet" href="Style.css" />
</head>

<body>

	<div id="layout">
		<div id="header">
			<img src="Movie_Ticket.jpg" width="700px" height="250px" class="header">
		</div>

		<div id="menu">
			<center>
				<ul>
					<li><a href="Home"><b>Home</b></a></li>
					<li><a href="NowPlaying"><b>Now Playing</b></a></li>
					<li><a href="UpComing"><b>Up Coming</b></a></li>
					<li><a href="Theater"><b>Theater</b></a></li>
					<li><a href="ContactUs"><b>Contact Us</b></a></li>
					<li><a href="logout"><b>Logout</b></a></li>
				</ul>
			</center>
		</div>

		<div class="flex-container">

			<div>
				<img src="MoviePosters/Sonic The Hedgehog (2020).jpg" class="movie-buy" alt="Paris"
					style="margin-right: 55px;">
			</div>
			<br><br><br><br>
			<table border="1" width="600px" style="font-size: 18px">
				<tbody>
					<tr class="text-warning">
						<td>Name</td>
						<td>:</td>
						<td>Sonic the Hedgehog</td>
					</tr>
					<tr class="text-warning">
						<td>Released Year</td>
						<td>:</td>
						<td>2020</td>
					</tr>
					<tr class="text-warning">
						<td>Genre</td>
						<td>:</td>
						<td>Action, Comedy, Family, Science Fiction</td>
					</tr>
					<tr class="text-warning">
						<td>Synopsis</td>
						<td>:</td>
						<td>Sonic, a blue hedgehog who can run at supersonic speeds, finds himself sought after by a
							tribe of echidnas for his power. His guardian, Longclaw the Owl, gives him a bag of rings
							that open portals to other planets. She uses one to send him to Earth while she fends off
							the echidnas. Ten years later, Sonic enjoys a secret life near the town of Green Hills,
							Montana, but longs to make friends. He idolizes the local sheriff, Tom Wachowski, and his
							veterinarian wife, Maddie, unaware the pair are planning to relocate to San Francisco soon,
							as Tom has been hired by the San Francisco Police Department.</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<br>
		<h1 class="jumbotron">
			<font color="black">CAST</font>
		</h1>
		<br>
		<br>
		<video width="720" height="auto" controls>
			<source src="Trailer/Sonic The Hedgehog (2020) - New Official Trailer - Paramount Pictures.mp4"
				type="video/mp4" />
			Browsermu tidak mendukung
		</video>
		<br>
		<br>
		<br>
		<h1 class="jumbotron">
			<font color="black">CAST</font>
		</h1>
		<br>
		<br>
		<div class="flex-container">
			<img src="Aktor/Sonic.jpg" width="300" height="350" style="margin-left: 200px;" ;>
			<img src="Aktor/James Marsden.jpg" width="300" height="350" style="margin-left: 200px;">
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		<div class="flex-container">
			<h1 style="margin-left: 200px;">
				<font color="white">Ben Schwartz
			</h1>
			</font>
			<h1 style="margin-left: 220px;">
				<font color="white">James Marsden
			</h1>
			</font>
		</div>
		<div class="flex-container">
			<img src="Aktor/Jim Carrey.jpg" width="300" height="350" style="margin-left: 200px;">
			<img src="Aktor/Tika_Sumpter.jpg" width="300" height="350" style="margin-left: 200px;">
			<br>
			<br>
			<br>
		</div>
		<div class="flex-container">
			<h1 style="margin-left: 250px;">
				<font color="white">Jim Carrey
			</h1>
			</font>
			<h1 style="margin-left: 220px;">
				<font color="white">Tika Sumpter
			</h1>
			</font>
		</div>
		<div id="footer"> @COPYRIGHT 2020. Apex Ticket ALL RIGHTS RESERVED.</div>
	</div>
</body>

</html>