<html>

<head>
    <title>Up Coming Movies</title>
    <link rel="stylesheet" href="Style.css" />
</head>

<body>
    <div id="layout">
        <div id="header">
            <img src="Movie_Ticket.jpg" width="500px" height="250px" class="header">
        </div>

        <div id="menu">
            <center>
                <ul>
                    <li><a href="Home"><b>Home</b></a></li>
                    <li><a href="NowPlaying"><b>Now Playing</b></a></li>
                    <li><a href="UpComing"><b>Up Coming</b></a></li>
                    <li><a href="Theater"><b>Theater</b></a></li>
                    <li><a href="ContactUs"><b>Contact Us</b></a></li>
                    <li><a href="logout"><b>Logout</b></a></li>
                </ul>
            </center>
        </div>

        <div id="runningtext">
            <marquee behavior="scroll" scrollamount="3" onmouseover="this.stop();" onmouseout="this.start();"
                direction="left">
                <b>Up Coming Movies</b>
            </marquee>
        </div>

        <div>
            <a href="/Synopsis6"><img src="MoviePosters/Hobbs And Shaw.jpg" alt="HAS" class="movie"></a>
            <a href="/Synopsis7"><img src="MoviePosters/Aladdin.jpg" alt="Aladdin" class="movie"></a>
            <a href="/Synopsis8"><img src="MoviePosters/A Quiet Place 2.jpg" alt="AQP" class="movie"></a>
            <a href="/Synopsis9"><img src="MoviePosters/Digimon Adventure.jpg" alt="Digimon" class="movie"></a>
            <a href="/Synopsis10"><img src="MoviePosters/Sonic The Hedgehog (2020).jpg" alt="Sonic" class="movie"></a>
        </div>
        <div id="footer"> @COPYRIGHT 2020. Apex Ticket ALL RIGHTS RESERVED.</div>
    </div>
</body>

</html>