<link rel="stylesheet" href="style1.css" />
<div class="mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><img src="download.gif" width="527px" height="270px"></h1>
      <h2 style="font-family:georgia">WELCOME TO APEX CINEMA</h2>
      <p>Silahkan Login untuk Melanjutkan</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>