<!DOCTYPE html>
<html lang="en">

<head>
	<title>Train to Busan: Peninsula</title>
	<link rel="stylesheet" href="Style.css" />
</head>

<body>

	<div id="layout">
		<div id="header">
			<img src="Movie_Ticket.jpg" width="700px" height="250px" class="header">
		</div>

		<div id="menu">
			<center>
				<ul>
					<li><a href="Home"><b>Home</b></a></li>
					<li><a href="NowPlaying"><b>Now Playing</b></a></li>
					<li><a href="UpComing"><b>Up Coming</b></a></li>
					<li><a href="Theater"><b>Theater</b></a></li>
					<li><a href="ContactUs"><b>Contact Us</b></a></li>
					<li><a href="logout"><b>Logout</b></a></li>
				</ul>
			</center>
		</div>

		<div class="flex-container">
			<div>
				<img src="MoviePosters\Peninsula.jpg" class="movie-buy" alt="Paris">
			</div>
			<br><br><br><br>
			<table border="1" width="600px" style="font-size: 18px">
				<tbody>
					<tr class="text-warning">
						<td>Name</td>
						<td>:</td>
						<td>Train to Busan: Peninsula</td>
					</tr>
					<tr class="text-warning">
						<td>Released Year</td>
						<td>:</td>
						<td>2020</td>
					</tr>
					<tr class="text-warning">
						<td>Genre</td>
						<td>:</td>
						<td>Horror, Drama, Adventure, Action, Thriller, Suspense</td>
					</tr>
					<tr class="text-warning">
						<td>Synopsis</td>
						<td>:</td>
						<td>It's been four long years since the catastrophic events of Busanhaeng (2016), and a
							virulent zombie outbreak sweeps South Korea from end to end. Now, on the carcass of the
							levelled city of Incheon, the guilt-ridden former Marine Captain, Jung-seok, embarks on a
							suicide mission to locate a truck carrying bags crammed with $20 million in cash, along with
							a trio of equally reckless fortune seekers. But, in the endless urban wasteland of
							debris and death, multitudes of ravenous living-dead are on the prowl for human flesh, and
							as if that weren't enough, the dangerous mercenaries of villainous Sergeant Hwang's Unit 631
							roam the dark mega-city. Can the condemned quartet of invaders escape from the quarantined
							Korean peninsula and live to tell the tale?</td>
					</tr>
					<tr class="text-warning">
						<td>Harga</td>
						<td>:</td>
						<td>Rp. 50.000,-</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td><a href="TicketOrder2"> <button class="btn-beli mt-3">Buy Ticket</button></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<br>
		<h1 class="jumbotron">
			<font color="black">TRAILER</font>
		</h1>
		<br>
		<br>
		<video width="720" height="auto" controls>
			<source src="Trailer/PENINSULA Official Trailer (2020) Train to Busan 2 Zombie Movie.mp4"
				type="video/mp4" />
			Browsermu tidak mendukung
		</video>
		<br>
		<br>
		<br>
		<h1 class="jumbotron">
			<font color="black">CAST</font>
		</h1>
		<br>
		<br>
		<div class="flex-container">
			<img src="Aktor/gang dong won.jpg" alt="Paris" width="300" height="350" style="margin-right: 100px;">
			<img src="Aktor/lee jung hyun.jpg" alt="Paris" width="300" height="350" style="margin-right: 100px;">
			<img src="Aktor/lee re.jpg" alt="Paris" width="250" height="350" style="margin-right: px;">
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		<div class="flex-container">
			<h1 alt="Paris" style="margin-right: 120px;">
				<font color="white">Gang Dong Won
			</h1>
			</font>
			<h1 alt="Paris" style="margin-right: 180px;">
				<font color="white">Lee Jung Hyun
			</h1>
			</font>
			<h1 alt="Paris" style="margin-right: 120px;">
				<font color="white">Lee re
			</h1>
			</font>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div id="footer"> @COPYRIGHT 2020. Apex Ticket ALL RIGHTS RESERVED.</div>
	</div>
</body>

</html>