<!DOCTYPE html>
<html lang="en">

<head>
	<title>Aladdin</title>
	<link rel="stylesheet" href="Style.css" />
</head>

<body>

	<div id="layout">
		<div id="header">
			<img src="Movie_Ticket.jpg" width="700px" height="250px" class="header">
		</div>

		<div id="menu">
			<center>
				<ul>
					<li><a href="Home"><b>Home</b></a></li>
					<li><a href="NowPlaying"><b>Now Playing</b></a></li>
					<li><a href="UpComing"><b>Up Coming</b></a></li>
					<li><a href="Theater"><b>Theater</b></a></li>
					<li><a href="ContactUs"><b>Contact Us</b></a></li>
					<li><a href="logout"><b>Logout</b></a></li>
				</ul>
			</center>
		</div>

		<div class="flex-container">

			<div>
				<img src="MoviePosters/Aladdin.jpg" class="movie-buy" alt="Paris" style="margin-right: 55px;">
			</div>
			<br><br><br><br>
			<table border="1" width="600px" style="font-size: 18px">
				<tbody>
					<tr class="text-warning">
						<td>Name</td>
						<td>:</td>
						<td>Alladin</td>
					</tr>
					<tr class="text-warning">
						<td>Released Year</td>
						<td>:</td>
						<td>2019</td>
					</tr>
					<tr class="text-warning">
						<td>Genre</td>
						<td>:</td>
						<td>Adventure, Comedy, Family, Romance, Fantasy</td>
					</tr>
					<tr class="text-warning">
						<td>Synopsis</td>
						<td>:</td>
						<td>A kindhearted street urchin named Aladdin embarks on a magical adventure after finding a
							lamp that releases a wisecracking genie while a power-hungry Grand Vizier vies for the same
							lamp that has the power to make their deepest wishes come true.
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<h1 class="jumbotron">
			<font color="black">TRAILER</font>
		</h1>
		<br>
		<br>
		<video width="720" height="auto" controls>
			<source src="Trailer/Disney's Aladdin Official Trailer - In Theaters May 24!.mp4" type="video/mp4" />
			Browsermu tidak mendukung
		</video>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<h1 class="jumbotron">
			<font color="black">CAST</font>
		</h1>
		<br>
		<br>
		<div class="flex-container">
			<img src="Aktor/Mena Massoud.jpg" width="300" height="350" style="margin-left: 100px;">
			<img src="Aktor/Naomi Scoot.jpg" width="300" height="350" style="margin-left: 100px;">
			<img src="Aktor/Will Smith.jpg" width="300" height="350" style="margin-left: px;">
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		<div class="flex-container">
			<h1 alt="Paris" style="margin-left: 170px;">
				<font color="white">Mena Massoud
			</h1>
			</font>
			<h1 alt="Paris" style="margin-left: 180px;">
				<font color="white">Naomi Scoot
			</h1>
			</font>
			<h1 alt="Paris">
				<font color="white">Will Smith
			</h1>
			</font>
		</div>
		<div class="flex-container">
			<img src="Aktor/Billy Magnusen.jpg" width="300" height="350" style="margin-left: 150px;">
			<img src="Aktor/Marwan Kenzari.png" width="300" height="350" style="margin-left: 150px;">
			<br>
			<br>
			<br>
		</div>
		<div class="flex-container">
			<h1 style="margin-left: 150px;">
				<font color="white">Billy Magnusen
			</h1>
			</font>
			<h1 style="margin-left: 150px;">
				<font color="white">Marwan Kenzari
			</h1>
			</font>
		</div>
		<div id="footer"> @COPYRIGHT 2020. Apex Ticket ALL RIGHTS RESERVED.</div>
	</div>
</body>

</html>