<!DOCTYPE html>
<html lang="en">

<head>
	<title>A Quiet Place Part II</title>
	<link rel="stylesheet" href="Style.css" />
</head>

<body>

	<div id="layout">
		<div id="header">
			<img src="Movie_Ticket.jpg" width="700px" height="250px" class="header">
		</div>

		<div id="menu">
			<center>
				<ul>
					<li><a href="Home"><b>Home</b></a></li>
					<li><a href="NowPlaying"><b>Now Playing</b></a></li>
					<li><a href="UpComing"><b>Up Coming</b></a></li>
					<li><a href="Theater"><b>Theater</b></a></li>
					<li><a href="ContactUs"><b>Contact Us</b></a></li>
					<li><a href="logout"><b>Logout</b></a></li>
				</ul>
			</center>
		</div>

		<div class="flex-container">

			<div>
				<img src="MoviePosters/A Quiet Place 2.jpg" class="movie-buy" alt="Paris" style="margin-right: 55px;">
			</div>
			<br><br><br><br>
			<table border="1" width="600px" style="font-size: 18px">
				<tbody>
					<tr class="text-warning">
						<td>Name</td>
						<td>:</td>
						<td>A Quiet Place Part II</td>
					</tr>
					<tr class="text-warning">
						<td>Released Year</td>
						<td>:</td>
						<td>2021</td>
					</tr>
					<tr class="text-warning">
						<td>Genre</td>
						<td>:</td>
						<td>Horror, Thriller, Mystery</td>
					</tr>
					<tr class="text-warning">
						<td>Synopsis</td>
						<td>:</td>
						<td>Following the deadly events at home, the Abbott family must now face the terrors of the
							outside world as they continue their fight for survival in silence. Forced to venture into
							the unknown, they quickly realize that the creatures that hunt by sound are not the only
							threats that lurk beyond the sand path.</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<h1 class="jumbotron">
			<font color="black">TRAILER</font>
		</h1>
		<br>
		<br>
		<video width="720" height="auto" controls>
			<source src="Trailer/A Quiet Place Part II - Official Trailer - Paramount Pictures.mp4" type="video/mp4" />
			Browsermu tidak mendukung
		</video>
		<br>
		<br>
		<br>
		<h1 class="jumbotron">
			<font color="black">CAST</font>
		</h1>
		<br>
		<br>
		<div class="flex-container">
			<img src="Aktor/Emily Blunt.jpg" class="float-left" width="300" height="350" style="margin-right: 100px;">
			<img src="Aktor/Cillian Murphy.jpg" class="float-left" width="300" height="350"
				style="margin-right: 100px;">
			<img src="Aktor/Noah Jupe.jpg" class="float-left" width="300" height="350" style="margin-right: px;">
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		<div class="flex-container">
			<h1 class="float-left" style="margin-right: 200px;">
				<font color="white">Emily Blunt
			</h1>
			</font>
			<h1 class="float-left" style="margin-right: 160px;">
				<font color="white">Cillian Murphy
			</h1>
			</font>
			<h1 class="float-left">
				<font color="white">Noah Jupe
			</h1>
			</font>
		</div>
		<div class="flex-container">
			<img src="Aktor/Millicent Simmond.jpg" class="float-left" width="300" height="350"
				style="margin-right: 100px;">
			<img src="Aktor/Djimon Hounsou.jpg" class="float-left" width="300" height="350"
				style="margin-right: 100px;">
			<img src="Aktor/John Krasinski.jpg" class="float-left" width="300" height="350" style="margin-right: px;">
			<br>
			<br>
		</div>
		<div class="flex-container">
			<h1 class="float-left" style="margin-right: 30px;">
				<font color="white">Millicent Simmonds
			</h1>
			</font>
			<h1 class="float-left" style="margin-right: 140px;">
				<font color="white">Djimon Hounsou
			</h1>
			</font>
			<h1 class="float-left">
				<font color="white">John Krasinski
			</h1>
			</font>
		</div>
		<div id="footer"> @COPYRIGHT 2020. Apex Ticket ALL RIGHTS RESERVED.</div>
	</div>
</body>

</html>